/* "*" belgisi barcha elementlarga murojaatni anglatadi*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Lato";
}

/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*quyidagi teglarni blok qilib beradi*/
nav,
footer,
header,
aside {
  display: block;
}

/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
}

/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input,
button,
textarea {
  font-family: inherit;
}

/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*sarlavharning odatdagi stillarini nullashtirish*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.animation {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.styles p {
  font-size: 22px;
  cursor: pointer;
  color: var(--skin-color);
}

:root {
  --primery-color: #f8e5e5;
  --secondary-color: #212121;
}

.dark-theme {
  --primery-color: #212121;
  --secondary-color: #fff;
}

.iconMoon img {
  width: 24px;
  cursor: pointer;
}

/*   Style Switcher line   */
.switchColorBox {
  margin: 9px 0 0 0;
  width: 30px;
  height: 30px;
  border-radius: 40%;
}

.style-switcher img {
  border-radius: 50%;
  /* margin: 0 19% 0 21%; */
  width: 28px;
  height: 28px;
}

.style-switcher img:hover {
  transition: all 0.1s ease;
  /* box-shadow: 0px 0px 6px var(--palette-color); */
}

.style-switcher.open {
  transform: translateY(10%);
}

.style-switcher .s-icon {
  text-align: center;
  height: 40px;
  width: 100%;
  font-size: 24px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0 0 50% 50%;
  background-color: var(--navInput-color);
}

.style-switcher .s-icon i {
  padding: 0 0 0 8%;
  color: green;
  line-height: 40px;
}

.style-switcher .s-icon:after {
  border-radius: 50%;
}

.style-switcher .style-switcher-toggler {
  top: 0;
}

.style-switcher h4 {
  margin: 0 0 10px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.colors {
  /* text-align: center; */
  position: relative;
  z-index: -1;
  width: 180px;
  height: 83%;
  gap: 8px;
  display: flex;
  margin: 2px 2px 6px;
  transition: all 1s ease;
  display: none;
}

.colors div {
  /* display: inline-block; */
  height: 30px;
  width: 30px;
  margin: 5px 0 0 1px;
  border-radius: 50%;
  cursor: pointer;
  /* border: 1px solid white; */
}

.colors div img {
  margin-top: 23px;
  margin-left: 2px;
}

#color-1new {
  height: 27px;
  width: 27px;
  margin: 1px 0 0 0;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid white;
}

.color-2 {
  background-color: #ec9412;
}

.color-3 {
  background-color: #1fc586;
}

.color-4 {
  background-color: #2eb1ed;
}

.color-5 {
  background-color: #cc3a3b;
}

.style-switcher .style-toggler {
  right: 70%;
  margin-right: 15px;
  top: 0;
}

.style-switcher .day-night {
  right: 100%;
  margin-right: 15px;
  top: 55px;
}

.style-switcher {
  background-color: var(--navInput-color);
  margin: 0 1% 0 0;
  width: 100%;
  transition: all 0.3s ease;
  transform: translateY(-5px);
}

body div {
  margin: 0px 0px 0px 0px;
}

.wrapper {
  height: 100vh;
  background: var(--primery-color);
}

.container {
  width: 496px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 46px;
  line-height: 68px;
  color: var(--skin-color);
  margin-bottom: 18px;
}

.block {
  background: var(--skin-color);
  border-radius: 12px;
  padding: 18px 18px 8px;
}

.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input {
  padding: 0 16px;
  background: #ffffff;
  border: 1px solid #e5e9eb;
  border-radius: 6px;
  width: 345px;
  height: 40px;
  box-shadow: 0 0 3px black;
}

.add {
  width: 60px;
  height: 40px;
  background: #4094f7;
  border-radius: 6px;
  color: white;
}

.filter {
  margin: 10px 0;
  font-size: 17px;
  border-radius: 5px;
  padding: 4px;
  color: white;
}

.label {
  margin-right: 10px;
}

.select {
  border-radius: 3px;
  padding: 3px;
  width: 100px;
}

.todosList {
  margin-bottom: 11px;
  overflow-y: auto;
  max-height: 335px;
}

.todosList::-webkit-scrollbar {
  width: 0;
}

.todo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 24px;
  width: 100%;
  height: 48px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 3px black;
}
.todo:not(:last-child) {
  margin-bottom: 15px;
}

.todo_input {
  flex-grow: 1;
  color: black;
  background: none;
}

.chek {
  text-decoration: line-through;
}

.save {
  display: none;
}
.save i {
  color: var(--skin-color);
  cursor: pointer;
}
.save i:hover {
  font-size: 26px !important;
}
.save i:active {
  font-size: 22px !important;
}

.cencel {
  display: none;
}
.cencel i {
  color: var(--skin-color);
  cursor: pointer;
  font-size: 28px !important;
}
.cencel i:hover {
  font-size: 31px !important;
  font-weight: bold;
}
.cencel i:active {
  font-size: 22px !important;
}

.edit i {
  cursor: pointer;
  color: var(--skin-color);
}
.edit i:hover {
  font-size: 25px !important;
}
.edit i:active {
  font-size: 22px !important;
}

.delete {
  display: block;
}
.delete i {
  cursor: pointer;
  color: var(--skin-color);
}
.delete i:hover {
  font-size: 25px !important;
}
.delete i:active {
  font-size: 22px !important;
}

.clear {
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: var(--skin-color);
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border: 1px solid #4094f7;
  border-radius: 10px;
  padding: 3px 10px;
  background: white;
}