@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import "_null";
@import "_animation";
@import "_darkMode";
@import "_switcher";

body {
  div {
    margin: 0px 0px 0px 0px;
  }
}

.wrapper {
  height: 100vh;
  // background: #32cac3;
  background: #b0b5b9;
}

.container {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // width: 456px;
  // width: 600px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.styles {
  // margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: relative;
  // z-index: 1;
  // gap: 20px;
}

.title {
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 46px;
  // color: #000000;
  color: var(--skin-color);
  margin-bottom: 18px;
  // text-decoration: line-through;
}

.block {
  // display: grid;
  // background: #fbfbfb;
  background: rgb(41, 39, 39);
  border-radius: 25px;
  padding: 22px 22px 12px;
  box-shadow: 0 0 16px rgb(36, 35, 35);
  width: 600px;
  min-height: 400px;

  @media (max-width: 630px) {
    width: 370px;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input {
  font-family: 'Montserrat';
  padding: 0 16px;
  letter-spacing: 1px;
  background: black;
  // border: 1px solid #e5e9eb;
  border-radius: 18px;
  width: 445px;
  // width: 80%;
  height: 45px;
  color: gold;

  @media (max-width: 630px) {
    width: 70%;
  }
}

.add {
  font-family: 'Montserrat';
  width: 80px;
  height: 40px;
  background: gold;
  border-radius: 22px;
  color: black;
  font-size: 16px;
}

.add:hover {
  width: 82px;
  background: gold;
  box-shadow: 0 0 13px gold;
}

.add:active {
  width: 78px;
  margin-right: 2px;
  background: gold;
  box-shadow: 0 0 13px gold;
}

.filter {
  margin: 10px 0 4px;
  font-size: 17px;
  border-radius: 5px;
  padding: 4px;
  color: white;
}

.label {
  margin-right: 10px;
  color: gold;
  font-family: 'Montserrat';
  font-size: 14px;
  letter-spacing: 1px;
}

.select {
  font-family: 'Montserrat';
  background: black;
  color: gold;
  border-radius: 20px;
  // padding: 5px;
  width: 110px;
  font-size: 15px;
  border: 4px solid black;
  // appearance: none;
}

.clas {
  background: black;
  margin-top: 10px;
}

.todosList {
  padding: 6px 2px;
  margin-bottom: 11px;
  overflow-y: auto;
  max-height: 365px;
}

.todosList::-webkit-scrollbar {
  width: 0;
}

.todo {
  font-family: 'Montserrat';
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 4px;
  // width: 392px;
  width: 100%;
  height: 55px;
  // background: black;
  border-radius: 25px;

  // @media (max-width: 630px) {
  //   width: 70%;
  // }

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.liCheck {
  background: #161616 !important;
}

.number {
  padding: 10px;
  border-radius: 15px;
  background: black;

  p {
    font-family: 'Montserrat';
    font-size: 12px;
    color: gold;
  }
}

.info {
  font-family: 'Montserrat';
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
  // width: 392px;
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 25px;
  position: relative;

  @media (max-width: 630px) {
    gap: 5px;
    padding: 0 9px;
  }
}

.todo_input {
  font-family: 'Montserrat';
  font-size: 12px;
  // flex-grow: 1;
  color: gold;
  letter-spacing: 1px;
  background: none;
  width: 75%;
  // width: 354px;

  // @media (max-width: 630px) {
  //   width: 154px;
  // }
}

.check {
  text-decoration: line-through;
}

.checking {
  cursor: pointer;
  width: 20px;
  height: 20px; 
  border: 1px solid gold;
  border-radius: 50%;
  margin-right: 10px;

  @media (max-width: 630px) {
    height: 17px; 
  }

  i {
    color: gold;
    font-size: 18px;

    @media (max-width: 630px) {
      font-size: 15px;
    }
  }
}

.chekList {
  display: none;
}

.save {
  display: none;
  padding: 4px;
  border: 1px solid black;

  i {
    color: gold;
  }
}

.save:hover {
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid gold;
}

.save:active {
  background: #d39595;
  border: 1px solid black;

  i {
    color: black;
  }
}

.cencel {
  display: none;
  border: 1px solid black;

  i {
    color: gold;
    font-size: 28px !important;
  }
}

.cencel:hover {
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid gold;
}

.cencel:active {
  background: #d39595;
  border: 1px solid black;

  i {
    color: black;
  }
}

.edit {
  border: 1px solid transparent;
  padding: 4px;

  i {
    color: gold;
   }
}

.edit:hover {
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid gold;
}

.edit:active {
  background: #d39595;
  border: 1px solid black;

  i {
    color: black;
  }
}

.delete {
  display: block;
  padding: 4px;
  border: 1px solid transparent;

  i {
    color: gold;
   }
}

.delete:hover {
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid gold;
}

.delete:active {
  background: #d39595;
  border: 1px solid black;

  i {
    color: black;
  }
}

.bx-trash {
}

// .timeDay {
//   display: flex;
//   gap: 10px;
//   bottom: 4px;
//   right: 100px;
//   position: absolute;

//   .time {
//     font-size: 13px;
//     color: rgb(185, 160, 14);
//   }

//   .day {
//     font-size: 13px;
//     color: rgb(185, 160, 14);
//   }
// }

.empty {
  display: none;
  color: gold;
  font-size: 40px;
  align-items: center;
  text-align: center;
  margin: 100px 0;
}

.clear {
  cursor: pointer;
  // justify-self: center;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 1px;
  color: gold;
  width: max-content;
  margin: 0 auto;
  border: 1px solid gold;
  border-radius: 20px;
  padding: 3px 15px;
  background: black;
}

.clear:hover {
  background: rgb(32, 32, 32);
}

.clear:active {
  background: #d39595;
  color: black;
}